@use '../utils/mixins';
@use '../utils/variables';

// Main Site Layout

body {
    overflow-x: hidden;
}

.layout {
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    .header {
        grid-area: header;
        padding: variables.$spacing-y 0;
    }
    .main {
        grid-area: main;
    }
    .sidebar {
        grid-area: sidebar;
        background-color: variables.$primary-color;
        background-color: var(--primary-color, variables.$primary-color);
    }
    .footer {
        grid-area: footer;
        padding: variables.$spacing-y 0;
        background-color: #e8e8e8;
    }

    @include mixins.mq(lg) {
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            'sidebar header'
            'sidebar main'
            'sidebar footer';
    }
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    max-width: variables.$container-max-width;

    @include mixins.mq(lg) {
        padding-left: 7%;
        padding-right: 7%;
    }
}

.grid {
    display: grid;
    column-gap: variables.$spacing-x * 2;
    page-break-inside: avoid;

    &--2col {
        grid-template-columns: 1fr 1fr;
    }
}
