body{padding:0;margin:50px;color:#555;background-color: #FFFFFF;font-family: "Georgia", "Times", verdana, sans-serif;font-size: 12px;}
h1,h2{margin:20px 5px;padding:0;font-size:14px;color:#888;}
img {border:none;background:transparent;}
p{margin:20px 5px;padding:0;}
td{font-size: 12px;}
p.diag{padding:10px;font-size:11px;color:#FFF; background:#D79445;}
a {color:#D79445;background-color:#fff;}