{% if entries %}
<ul class="entrylistPortfolio">
    {% for entry in entries | reverse %}
    <li class="entrylistPortfolio__item h-event {% if microformat %}{{ microformat }}{% endif %}">
        {% include "entryPortfolio.njk" %}
    </li>
    {% endfor %}
</ul>
{% endif %}
