@use "../utils/mixins";
@use "../utils/variables";

.section {
    padding-top: variables.$spacing-y;
    padding-bottom: variables.$spacing-y;
    page-break-inside: avoid;

    &__title {
        margin-bottom: variables.$spacing-y;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid variables.$gray;
    }
}

.grid .section {
    grid-column: span 2;

    @include mixins.mq(md, true) {
        &--half {
            grid-column: span 1;
        }
    }
}

.bgPortfolio {
    margin-top: 5em;
    padding-top: 3em;
    padding-bottom: 4em;
    color: variables.$text-color-secondary;
    background: variables.$bg-color-portfolio;
}