@use '../utils/mixins';
@use '../utils/variables';

.vcard {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__content {
        padding-top: 1rem;
    }
    &__title {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    &__subtitle {
        margin-bottom: 1rem;
        margin-top: 0.2rem;
    }
    &__avatar {
        width: 11rem;
        height: 11rem;
        flex: 0 0 11rem;
        border-radius: 50%;
        border: 5px solid #e8e8e8;
        box-shadow: variables.$box-shadow-elevated;
        margin-right: variables.$spacing-x;
    }
    &__link {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        //for tap target size - 2023-05-05
        padding: 0 0.3rem 0.5rem 0;

        @include mixins.hover-focus {
            text-decoration: none;

            .vcard__link-text {
                text-decoration: underline;
            }
        }

        .icon {
            margin-right: 0.125em;
        }
    }

    @include mixins.mq(md) {
        &__social {
            display: flex;
            flex-wrap: wrap;

            .vcard__link {
                margin-bottom: 0.4em; // compensate line-height
            }
        }
        &__link {
            display: inline-flex;
        }
    }

    @include mixins.mq(lg) {
        padding: variables.$spacing-y 0;

        @supports (display: grid) {
            &__avatar {
                position: fixed;
                top: calc(#{variables.$spacing-y} + 1rem);
                right: 75%;
                transform: translateX(25%);
                transition: transform 0.2s ease;
                margin: 0;

                .js-scrolled & {
                    transform: translateX(25%) scale(0.75);
                }
            }
        }
    }
}
