// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@use 'utils/functions';
@use 'utils/variables';
@use 'utils/mixins';

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@use 'base/fonts';
@use 'base/normalize';
@use 'base/reboot';
@use 'base/layout';
@use 'base/typography';
@use 'base/focus';
@use 'base/utilities';
@use 'base/screenreader';
@use 'base/animation';

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@use 'components/vcard';
@use 'components/section';
@use 'components/entry';
@use 'components/entrylist';
@use 'components/entryPortfolio';
@use 'components/entrylistPortfolio';
@use 'components/repolist';
@use 'components/bulletlist';
@use 'components/actions';
@use 'components/tooltip';
@use 'components/markdown';
@use 'components/icon';
@use 'components/gh-link';

//--------------------
// PRINT
// styles for media: print
//--------------------

@use 'print/index';